.hola{
    display: flex;
    border: 5px solid;
}


@media only screen
and (min-width: 320px)
and (max-width: 736px)
{

    .hola {
        display: flex;
        flex-direction: column;
        border: 5px solid;
    }
}

