.nuestro-trabajo-00{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.nuestro-trabajo-00-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #008cff;
    margin: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.span-nuestro-trabajo-00-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-nuestro-trabajo-00-parrafo{
    width: 70%;
    text-align: center;
    margin-bottom: 30px;
}

.nuestro-trabajo-01{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nuestro-trabajo-article-00{
    height: 350px;
    width: 270px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.1px 3px 12px 0px rgb(205, 205, 205);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.span-numero-card{
    font-size: 24px;
    font-weight: 700;
    color: #008cff;
}

.nuestro-trabajo-article-00-img{
    width: 50px;
    margin: 10px 0px;
}

/* .nuestro-trabajo-article-00 h2{
    font-size: 18px;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
} */

.nuestro-trabajo-article-span-00{
    display: flex;
    margin-top: 12px;
    color: rgb(162, 162, 162);
    height: 100px;
    overflow: hidden;
}

.nuestro-trabajo-article-span-00-ver-mas{
    font-weight: 600;
    color: #008cff;
}