.testimonios-00{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
    padding-top: 50px;
}

.testimonios-00-title{
    font-size: 32px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 50px;
}

.testimonios-01{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.testimonios-01-card{
    width: 300px;
    height: 550px;
    padding-bottom: 20px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 20px;
}

.testimonios-01-card-title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
    padding-top: 10px;
}

.testimonios-01-card-descripcion{
    text-align: center;
}

.testimonios-01-card img{
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}